In [2]:
import sqlite3

In [ ]:
connection=sqlite3.connect("mydb.db")

In [4]:
connection

In [20]:
# Define all table creation queries FIRST
table_creation_query = """
CREATE TABLE IF NOT EXISTS USERS(
    emp_id INTEGER PRIMARY KEY,
    first_name TEXT NOT NULL,
    last_name TEXT NOT NULL,
    email TEXT NOT NULL,
    hire_date TEXT NOT NULL,
    salary REAL NOT NULL
);
"""

table_creation_query_departments = """
CREATE TABLE IF NOT EXISTS DEPARTMENTS (
    dept_id INTEGER PRIMARY KEY,
    dept_name TEXT NOT NULL UNIQUE
);
"""

table_creation_query_employees_departments = """
CREATE TABLE IF NOT EXISTS EMPLOYEES_DEPARTMENTS (
    emp_id INTEGER,
    dept_id INTEGER,
    PRIMARY KEY (emp_id, dept_id),
    FOREIGN KEY (emp_id) REFERENCES USERS(emp_id),
    FOREIGN KEY (dept_id) REFERENCES DEPARTMENTS(dept_id)
);
"""

table_creation_query_projects = """
CREATE TABLE IF NOT EXISTS PROJECTS (
    project_id INTEGER PRIMARY KEY,
    project_name TEXT NOT NULL,
    start_date TEXT,
    end_date TEXT
);
"""

table_creation_query_assignments = """
CREATE TABLE IF NOT EXISTS ASSIGNMENTS (
    assignment_id INTEGER PRIMARY KEY,
    emp_id INTEGER,
    project_id INTEGER,
    assigned_date TEXT NOT NULL,
    role TEXT,
    FOREIGN KEY (emp_id) REFERENCES USERS(emp_id),
    FOREIGN KEY (project_id) REFERENCES PROJECTS(project_id)
);
"""

table_creation_query_attendance = """
CREATE TABLE IF NOT EXISTS ATTENDANCE (
    attendance_id INTEGER PRIMARY KEY,
    emp_id INTEGER,
    date TEXT NOT NULL,
    status TEXT NOT NULL CHECK(status IN ('Present', 'Absent', 'Leave')),
    FOREIGN KEY (emp_id) REFERENCES USERS(emp_id)
);
"""

In [ ]:
# Now execute them
import sqlite3

conn = sqlite3.connect("company.db")
cursor = conn.cursor()

cursor.execute(table_creation_query)
cursor.execute(table_creation_query_departments)
cursor.execute(table_creation_query_employees_departments)
cursor.execute(table_creation_query_projects)
cursor.execute(table_creation_query_assignments)
cursor.execute(table_creation_query_attendance)

In [23]:
users_data = [
    (1, 'John', 'Doe', 'john.doe@example.com', '2022-01-10', 60000),
    (2, 'Jane', 'Smith', 'jane.smith@example.com', '2021-03-15', 65000),
    (3, 'Alice', 'Johnson', 'alice.johnson@example.com', '2020-07-20', 70000),
    (4, 'Bob', 'Brown', 'bob.brown@example.com', '2023-02-10', 55000),
    (5, 'Charlie', 'Davis', 'charlie.davis@example.com', '2022-08-05', 58000),
    (6, 'Diana', 'Evans', 'diana.evans@example.com', '2021-11-11', 62000),
    (7, 'Frank', 'Green', 'frank.green@example.com', '2022-05-01', 67000),
    (8, 'Grace', 'Hall', 'grace.hall@example.com', '2020-09-13', 69000),
    (9, 'Henry', 'Irwin', 'henry.irwin@example.com', '2019-12-23', 71000),
    (10, 'Ivy', 'James', 'ivy.james@example.com', '2023-04-14', 63000),
]


departments_data = [
    (1, 'HR'),
    (2, 'Engineering'),
    (3, 'Marketing'),
    (4, 'Finance'),
    (5, 'Sales')
]

employees_departments_data = [
    (1, 2),
    (2, 1),
    (3, 2),
    (4, 3),
    (5, 4),
    (6, 1),
    (7, 2),
    (8, 3),
    (9, 4),
    (10, 5)
]

projects_data = [
    (1, 'Project Apollo', '2023-01-01', '2023-12-31'),
    (2, 'Project Titan', '2022-06-01', '2023-06-01'),
    (3, 'Project Orion', '2023-03-01', '2023-10-01')
]

assignments_data = [
    (1, 1, 1, '2023-01-15', 'Developer'),
    (2, 2, 1, '2023-01-20', 'Manager'),
    (3, 3, 2, '2022-07-01', 'Developer'),
    (4, 4, 3, '2023-03-10', 'Tester'),
    (5, 5, 1, '2023-02-01', 'Analyst'),
    (6, 6, 2, '2022-09-15', 'Support'),
    (7, 7, 1, '2023-01-25', 'Developer'),
    (8, 8, 3, '2023-04-01', 'UI/UX Designer'),
    (9, 9, 2, '2022-10-10', 'QA'),
    (10, 10, 1, '2023-05-05', 'Consultant'),
]

attendance_data = [
    (1, 1, '2023-05-20', 'Present'),
    (2, 2, '2023-05-20', 'Absent'),
    (3, 3, '2023-05-20', 'Leave'),
    (4, 4, '2023-05-20', 'Present'),
    (5, 5, '2023-05-20', 'Present'),
    (6, 6, '2023-05-20', 'Present'),
    (7, 7, '2023-05-20', 'Present'),
    (8, 8, '2023-05-20', 'Absent'),
    (9, 9, '2023-05-20', 'Leave'),
    (10, 10, '2023-05-20', 'Present'),
]

In [24]:
cursor.executemany("INSERT INTO USERS VALUES (?, ?, ?, ?, ?, ?);", users_data)
cursor.executemany("INSERT INTO DEPARTMENTS VALUES (?, ?);", departments_data)
cursor.executemany("INSERT INTO EMPLOYEES_DEPARTMENTS VALUES (?, ?);", employees_departments_data)
cursor.executemany("INSERT INTO PROJECTS VALUES (?, ?, ?, ?);", projects_data)
cursor.executemany("INSERT INTO ASSIGNMENTS VALUES (?, ?, ?, ?, ?);", assignments_data)
cursor.executemany("INSERT INTO ATTENDANCE VALUES (?, ?, ?, ?);", attendance_data)

In [ ]:
conn.commit()

In [26]:
cursor.execute("select * from USERS")

In [27]:
for row in cursor.fetchall():
    print(row)

(1, 'John', 'Doe', 'john.doe@example.com', '2022-01-10', 60000.0)
(2, 'Jane', 'Smith', 'jane.smith@example.com', '2021-03-15', 65000.0)
(3, 'Alice', 'Johnson', 'alice.johnson@example.com', '2020-07-20', 70000.0)
(4, 'Bob', 'Brown', 'bob.brown@example.com', '2023-02-10', 55000.0)
(5, 'Charlie', 'Davis', 'charlie.davis@example.com', '2022-08-05', 58000.0)
(6, 'Diana', 'Evans', 'diana.evans@example.com', '2021-11-11', 62000.0)
(7, 'Frank', 'Green', 'frank.green@example.com', '2022-05-01', 67000.0)
(8, 'Grace', 'Hall', 'grace.hall@example.com', '2020-09-13', 69000.0)
(9, 'Henry', 'Irwin', 'henry.irwin@example.com', '2019-12-23', 71000.0)
(10, 'Ivy', 'James', 'ivy.james@example.com', '2023-04-14', 63000.0)